@media (max-width: 1750px){

}
@media (max-width: 1520px){

}
@media (max-width: 1300px){
    .milestone-area {
        padding-right: 0px;
      }
}
@media (max-width: 1230px){

}
@media (max-width: 1199px){
    .milestone_text p {
        padding-bottom: 24px;
    }

}
@media (max-width: 991px){
    .main_menu_area {
        padding: 0px 0px;
    }
    .navbar-light .navbar-brand {
        padding: 20px 0px 20px 15px;
    }
    .main_menu_area .navbar .navbar-nav li {
        display: block;
        margin-right: 0px;
    }
    .main_menu_area .navbar .navbar-nav li a {      
        display: block;
        line-height: 50px;
        padding: 0px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, .05);
    }
    .main_menu_area .navbar .navbar-nav li:hover a, .main_menu_area .navbar .navbar-nav li.active a {
        color: hsl(278, 83%, 55%);
    }
    .main_menu_area .navbar .navbar-nav li a:focus{
        color: hsl(278, 89%, 48%);
    }
    .main_menu_area .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        color: hsl(278, 88%, 51%);
    }
    .main_menu_area .navbar .navbar-nav {
        display: block;
        text-align: left;
    }
    .main_menu_area .navbar .navbar-collapse {
        background: rgba(0, 0, 1, 0.3);
        max-height: 306px;
        overflow-y: scroll;
    }
    .main_menu_area .navbar .navbar-toggler {
        padding: 0px 15px 0px 0px;
        cursor: pointer;
    }
    .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu {
        background: transparent;
        border: none;
        margin: 0px;
        padding: 0px;
    }
    .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li a {
        line-height: 50px;
        padding: 0px 20px;
    }
    .team_area{
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .milestone_text {
        max-width: 540px;
        float: none;
        margin: auto;
    }
    .team_img_inner {
        max-width: 591px;
        margin: 30px auto -20px;
    }
    .footer_widget_inner .col-sm-6{
        margin-bottom: 30px;
    }
    .footer_widget_inner .col-sm-6:last-child{
        margin-bottom: 0px;
    }
    .footer_widget_area {
        padding: 20px 0px 20px 0px;
    }
    .challange_text_inner {
        max-width: 545px;
        float: none;
        margin: auto;
    }
    .challange_img {
       display: block;
        margin-top: 50px;
    }
    .testimonials_slider::before {
        display: none;
    }
    .testimonials_slider .owl-dots .owl-dot {
        background: #0b1033;
    }
    .testimonials_slider .owl-dots .owl-dot.active {
        background: #97ccfe;
    }
    
}
@media (max-width: 767px){
    .card {
        width: calc(50% - 2rem);
      }
}
/* @media screen and (max-width: 668px) */

@media (max-width: 668px){
	.pc-banner {
		background-size: auto 100%;
    }   
	.swiper-container {
		margin: 15px 0 15px;
	}

	.swiper-slide {
		-webkit-transform: scale(0.97);
		transform: scale(0.97);
	}
	.swiper-slide-active,.swiper-slide-duplicate-active {
		-webkit-transform: scale(0.97);
		transform: scale(0.97);
	}
	.swiper-slide a:after {
		position: absolute;
		top: 0px;
		left: 0;
		display: block;
		box-sizing: border-box;
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 2px;
		/* box-shadow: 0 2px 6px rgba(0,0,0,0.3);
		box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3); */
	}

	.swiper-slide-active a:before {
		position: absolute;
		top: 410px;
		left: 0;
		display: block;
		box-sizing: border-box;
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 2px;
		/* box-shadow: 0 2px 6px rgba(0,0,0,0.3);
		box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3); */
		z-index: 10002;
    }
    .swiper-slide a {
		padding: 5px;
		border-radius: 2px;
    }
    .swiper-slide img {
		border-radius: 2px;
    }
    
    .swiper-pagination {
		position: relative;
		margin-bottom: 20px;
	}
    
    .button {
		width: 100%;
		top: -240px;
		z-index: 1002;
		position: relative;
    }
    
    .button {
		width: 100%;
		top: -200px;
		z-index: 1002;
		position: relative;
    }
    
    .button div {
		width: 28px;
		height: 28px;
	}

}


@media (max-width: 575px){

    .team_img_inner .team_img_item img {
        max-width: 100%;
    }
    .footer_widget_inner{
        max-width: 320px;
        margin: auto;
    }
    .footer_copyright{
        text-align: center;
    }
    .mileston_item {
        text-align: center;
    }
    .card {
        width: 100%;
      }
}
@media (max-width: 375px){
    .c_title h2 {
        font-size: 32px;
    }

}