/*----------------------------------------------------
/*font Variables*/
/*Color Variables*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");
/*----------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
.menu_icon {
  height: 45px;
}
@media (max-width: 499px) {
  .menu_icon {
    display: none;
  }
}

.store_icons{
  width: 18%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28%;
  left: 120px;
}

.store_icons {
  display: none;
}

@media (max-width: 499px) {
  .store_icons{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 25%;
  }
    /*.ubscribe-wrapper {*/
    /*    !*width: 90%*!*/
    /*}*/
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 ;
}

.subscribe-container > * {
  max-width: 750px;
}

.subscribeToast {
  display: none;
  margin: 10px auto 20px auto !important;
  text-align: center;
  font-size: 15px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 30px;
  color: #fff;
  background-color: lightgreen;
}

.email-input-class {
  border-radius: 50px 0 0 50px;
  padding-left: 25px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

#success {
  display: none;
}

#error {
  display: none;
}

i:before {
  margin-left: 0px !important;
}

/*================================== Main title css============================================== */
.c_title {
  text-align: center;
}

.poster img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.c_title img {
  padding-bottom: 30px;
}

.c_title h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

.c_title h2 {
  font-size: 48px;
  color: #0b1033;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/*=============Main Menu Area css============================ */
.main_menu_area {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 30;
  padding: 0px 45px;
}

.main_menu_area .navbar {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent !important;
}

.main_menu_area .navbar .navbar-toggler {
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.main_menu_area .navbar .navbar-toggler span {
  height: 3px;
  width: 25px;
  display: block;
  background: #a006a5;
  margin-bottom: 3px;
}

.main_menu_area .navbar .navbar-toggler span:last-child {
  margin-bottom: 0px;
}
.main_menu_area .navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: hsl(270, 20%, 96%);
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-collapse {
    text-align: right;
    display: block !important;
  }
}

.main_menu_area .navbar .navbar-nav {
  display: inline-block;
  text-align: right;
}

.main_menu_area .navbar .navbar-nav li {
  display: inline-block;
  margin-right: 55px;
}

.main_menu_area .navbar .navbar-nav li a {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 0.65px;
  padding: 0px;
  line-height: 118px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.main_menu_area .navbar .navbar-nav li:last-child {
  margin-right: 0px;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    display: block;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    min-width: 250px;
    background: #171717;
    left: auto;
    right: 0px;
    top: 90%;
    border-radius: 0px;
    border: none;
    padding: 30px 0px 30px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    visibility: hidden;
  }
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li {
  margin-right: 0px;
  display: block;
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li a {
  display: block;
  line-height: 38px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.48px;
  font-size: 16px;
  padding: 0px 30px;
  text-transform: inherit;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  font-weight: normal;
  text-shadow: none;
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li:hover a {
  color: #97ccfe;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-nav li:hover.submenu .dropdown-menu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
  }
  .main_menu_area {
    background-size: auto;
  }
}

.main_menu_area .navbar .navbar-nav li:hover a,
.main_menu_area .navbar .navbar-nav li.active a {
  color: #9d2ff7;
}

.main_menu_area.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease,
    -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  z-index: 999999;
}

.main_menu_area.navbar_fixed .navbar .navbar-nav li a {
  line-height: 70px;
}

/* =======================End Main Menu Area css================================================== */

/*----=====================App Screen Slider Area================================================== */
.main_slider_area {
  background: url(../img/home-slider/slider-bg-1.png) no-repeat scroll center center;
  background-size: cover;
}

@media (max-width: 499px) {
  .main_slider_area {
    height: 950px;
  }
}

.main_slider_area
  .rev_slider
  .tp-revslider-mainul
  li
  .slider_text_box
  .first_text {
  font-weight: normal !important;
  color: #f8f2f2da;
}

.main_slider_area
  .rev_slider
  .tp-revslider-mainul
  li
  .slider_text_box
  .secand_text {
  color: #fcf8f8;
}

.main_slider_area
  .rev_slider
  .tp-revslider-mainul
  li
  .slider_text_box
  .more_btn {
  -webkit-transition: all 400ms linear !important;
  -o-transition: all 400ms linear !important;
  transition: all 400ms linear !important;
  padding: 0px 53px;
}

.main_slider_area .rev_slider .tp-bullets {
  /* left: calc(30%) !important; */
  position: relative;
  /* bottom:90px; */
}

.main_slider_area .rev_slider .tp-bullets .tp-bullet {
  height: 10px;
  width: 10px;
  background: #b3adff;
  border: 5px solid #fff;
}

.main_slider_area .rev_slider .tp-bullets .tp-bullet.selected {
  background: #97cdfe;
  border-color: #97cdfe;
}

.main_slider_area .rev_slider .tp-leftarrow:before,
.main_slider_area .rev_slider .tp-rightarrow:before {
  line-height: 100px;
}

.main_slider_area .rev_slider .tp-leftarrow:hover,
.main_slider_area .rev_slider .tp-rightarrow:hover {
  background-position: right center;
  color: #fff;
}

.main_slider_area .rev_slider .tp-leftarrow {
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  border-left: 0px;
}

.main_slider_area .rev_slider .tp-rightarrow {
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  border-right: 0px;
}
/*==================================End Slider css==================================================== */
/*==================================Feature Area======================================================= */
.feature_area {
  margin-top: 5%;
}
.content {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  /* background-color: #ecf0f9; */
}
.card {
  padding-top: 3%;
  color: inherit;
  cursor: pointer;
  width: calc(33% - 4rem);
  min-width: calc(33% - 4em);
  height: 340px;
  min-height: 340px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  border: none;
}

.front,
.back {
  -webkit-box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  /* display: flex; */
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
/* .back .f_icon {
  min-height: 91px;
  position: relative;
  padding-top: 40%;
} */

/* .back .f_icon img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
} */

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  /* overflow: hidden; */
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}
.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 1em 2em;
}
.back p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 30px;
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}
/* <!--=================End of Feature Section===================================--> */

/* <!--=================Why Piriko Section===================================--> */
.feature_item {
  padding: 20px 20px 20px 20px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  text-align: center;
}

.feature_item h4 {
  text-align: center;
  color: #4d3853;
  font-family: "Roboto", sans-serif;
  /* font-weight: bold; */
  font-size: 20px;
  padding: 20px 0px 0px 0px;
}

.feature_item p {
  font-size: 15px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  color:black;
  font-weight: 500;
  max-width: 290px;
  margin: auto;
  padding-bottom: 20px;
}

.feature_item .more_btn {
  opacity: 0;
}

.feature_item:hover {
  -webkit-box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
}

.feature_item:hover .more_btn {
  opacity: 1;
}
/* <!--=================End of Why Piriko area===================================--> */

/* <!--=================Event Swipe Section===================================--> */
.pc-banner {
  width: 100%;
  padding-top: 5%;
}
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-slide {
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  -webkit-transform: scale(0.85);
  /* margin: 1px; */
  transform: scale(0.85);
  margin-top: 80px;
  margin-bottom: 100px;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 90px;
  right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 90px;
  left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}


button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl
  .swiper-pagination-progress
  .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-progress.swiper-pagination-white
  .swiper-pagination-progressbar {
  background: #fff;
}

.swiper-pagination-progress.swiper-pagination-black
  .swiper-pagination-progressbar {
  background: #000;
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
  /* background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
} */

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  perspective: 1200px;
  -ms-perspective: 1200px;
}

.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  touch-action: none;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

.layer-mask {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: all 0.5s;
  background-color: #3e3e3e;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.swiper-slide-active .layer-mask {
  display: none;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  z-index: 1002;
}

.none-effect {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.swiper-slide a {
  background: #fff;
  /* background: black; */
  display: block;
  border-radius: 2px;
}

.swiper-slide-active a:after {
  background: none;
}
.swiper-slide img {
  width: 100%;
  border-radius: 5px;
  display: block;
  height: 100%;
  border: none;
}

.swiper-pagination {
  position: relative;
  margin-bottom: 30px;
}

.swiper-pagination-bullet {
  background: #00a0e9;
  margin-left: 4px;
  margin-right: 4px;
  width: 17px;
  height: 17px;
  opacity: 1;
  margin-bottom: 4px;
}

.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: #fff;
  margin-bottom: 0;
}

.button {
  width: 100%;
  margin: 0 auto;
  top: -290px;
  position: relative;
  z-index: 1002;
}

.button div:hover {
  background-color: #333;
  opacity: 0.8;
  cursor: pointer;
}

.swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
    #000000 center 50%/50% 50% no-repeat;
  opacity: 0.5;
  background-size: 15px;
  cursor: pointer;
}

.swiper-button-next {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
    #000000 center 50%/50% 50% no-repeat;
  opacity: 0.5;
  background-size: 15px;
  cursor: pointer;
}

/*==========================Event========================================== */
.blog_img {
  position: relative;
}
.blog_img .blog_date {
  position: absolute;
  left: 0px;
  top: 40px;
  max-width: 120px;
  width: 100%;
  background: #6fbcfe;
  /* Old browsers */
  background: -moz-linear-gradient(left, #6fbcfe 0%, #9b8aff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #6fbcfe 0%, #9b8aff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6fbcfe),
    to(#9b8aff)
  );
  background: -o-linear-gradient(left, #6fbcfe 0%, #9b8aff 100%);
  background: linear-gradient(to right, #6fbcfe 0%, #9b8aff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fbcfe', endColorstr='#9b8aff',GradientType=1 );
  /* IE6-9 */
  text-align: center;
  color: #fff;
  padding: 18px 0px 16px 0px;
}

.blog_img .blog_date h4 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 5px;
}

.blog_img .blog_date h5 {
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.blog_text {
  padding: 40px 30px 65px 30px;
}

.blog_text h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #0b1033;
  padding-bottom: 5px;
}

.blog_text .blog_author {
  padding-bottom: 30px;
}

.blog_text .blog_author a {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #7c8d93;
  margin-right: 20px;
  position: relative;
}

.blog_text .blog_author a:before {
  content: "|";
  position: absolute;
  right: -13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #7c8d93;
}

.blog_text .blog_author a:last-child {
  margin-right: 0px;
}

.blog_text .blog_author a:last-child:before {
  display: none;
}

.blog_text p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 28px;
  color: #7c8d93;
}

.blog_text p + p {
  padding-top: 30px;
}

.blog_text .more_btn {
  margin-top: 45px;
}

.blog_main_item {
  -webkit-box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  /* margin-bottom: 100px; */
}

.blog_main_item:last-child {
  margin-bottom: 0px;
}

.blog_author .media {
  vertical-align: middle;
}

.blog_author .media .d-flex {
  padding-right: 20px;
  -ms-flex-item-align: center;
  align-self: center;
}

.blog_author .media .media-body h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-bottom: 25px;
}

.blog_author .media .media-body h4 span {
  color: #7c8d93;
}

.blog_author .media .media-body p {
  font-size: 15px;
  line-height: 28px;
  color: #7c8d93;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/*==========================End of Event========================================== */
/*==========================End of Event Swipe Section=======================================*/
/*==========================Milestone Area css==============================================*/
.milestone-area {
  overflow: hidden;
  /* padding-top: 20px; */
  margin-bottom: 30px;
  padding-right: 100px;
}

.milestone_text {
  max-width: 540px;
  float: right;
  height:auto;
}

.milestone_text p {
  font-family: "Roboto", sans-serif;
  color: #7c8d93;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 45px;
}

.team_img_inner {
  max-width: 591px;
  margin-bottom: -20px;
  /* margin-left: 150px; */
}

.team_img_inner .row {
  margin-left: -10px;
  margin-right: -10px;
}

.team_img_inner .row .col-lg-6 {
  padding: 0px 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.team_img_inner .team_img_item {
  overflow: hidden;
}
/*===================Timeline Area============================================== */
.blue-bg {
  /* background-color: #4D4545; */
  /* color: #ED8D8D; */
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 7px;
  border-radius: 50%;
  background-color: rgb(245, 241, 220);
  color:rgb(20, 20, 19);
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid rgb(18, 19, 18);
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full-right::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}
.how-it-works.row .col-2.full-left::after {
  height: 100%;
  left: 50%;
}

.how-it-works.row .col-8 {
padding-top: 20px;

}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid rgb(17, 16, 16);
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid rgb(10, 10, 10);
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
/*===================End Timeline Area============================================== */
/*===================End Milestone Area css============================================== */
/*==========================Our team============================================== */
.team_area {
  /* position: relative; */
  background: url(../img/team/team-min.png) no-repeat scroll center center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #bbbec1;
  max-height: 700px;
}

.testimonials_slider {
  position: relative;
  padding-top: 30px;
}

.testimonials_slider:before {
  content: "";
  /* background: url(../img/3d-shap.png) no-repeat scroll center center; */
  height: 600px;
  max-width: 524px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: -210px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.testimonials_slider .owl-item.center {
  color: #fff;
}

.testimonials_slider .owl-item.center h3 {
  color: #fff;
}

.testimonials_slider .owl-item.center p {
  color: #fff;
}

.testimonials_slider .owl-item.center .media .media-body h5 {
  color: #fff;
}

.testimonials_slider .testi_item h3 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ca82c4;
}

.testimonials_slider .testi_item p {
  font-size: 15px;
  color: #e0d9e2;
  line-height: 28px;
  font-weight: normal;
  padding: 20px 0px 55px 0px;
}

.testimonials_slider .testi_item .media .d-flex {
  padding-right: 20px;
}

.testimonials_slider .testi_item .media .media-body h4 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* color: #0b1033; */
  padding-bottom: 8px;
}

.team_title {
  text-align: center;
}
.team_title h3{
  text-align: center;
  color: rgb(219, 211, 219);
  padding-bottom: 10px;
  font-size: 35px;
}
.team_title img {
  /* padding-bottom: 10px; */
}

.testimonials_slider .testi_item .media .media-body h5 {
  font-family: "Roboto", sans-serif;
  color: #7c8d93;
  font-weight: 500;
  font-size: 12px;
}

.testimonials_slider .owl-dots {
  text-align: center;
  z-index: 4;
  margin-top: 50px;
}
.testimonials_slider .owl-dots .owl-dot.active {
  background: #f139c3;
}
.testimonials_slider .owl-dots .owl-dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  /* background: #fff; */
  background: whitesmoke;
  display: inline-block;
  margin-right: 8px;
}

.testimonials_slider .owl-dots .owl-dot:last-child {
  margin-right: 0px;
}

.testimonials_slider .item {
  color: #fff;
  /* padding-bottom: -50px; */
  /* color: rgb(8, 8, 8); */
}

.testimonials_slider .item img {
  width: auto;
}

.testimonials_slider.item h4 {
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.stestimonials_slider .item p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 28px;
  padding: 25px 0px 55px 0px;
}

.testimonials_slider .item .media {
  vertical-align: middle;
}

.stestimonials_slider .item .media img {
  -ms-flex-item-align: center;
  align-self: center;
}

.testimonials_slider .item .media .media-body {
  padding-left: 18px;
}

.testimonials_slider.item .media .media-body h5 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 28px;
  color: #0b1033;
  padding-bottom: 5px;
}

.testimonials_slider .item .media .media-body h6 {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* owl-carousel{
  loop:true;
} */

/*==================================Team Card Area======================================================= */
/* .content {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  background-color: #ecf0f9;
} */
.team_card {
  /* padding-top: 3%; */
  color: inherit;
  cursor: pointer;
  width: 100%;
  min-width: 100%;
  height: 350px;
  min-height: 340px;
  perspective: 1000px;
  /* margin: 1rem; */
  position: relative;
  border: none;
}
.team_front,
.team_back {
  -webkit-box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  /* display: flex; */
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
.team_front {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  /* overflow: hidden; */
  font-family: Poppins, sans-serif;
}
.team_front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.team_front h4{
  padding-top: 200px; 
  padding-bottom: 10px;
}

.team_card:hover .team_front {
  transform: rotateY(180deg);
}
.team_card:nth-child(even):hover .team_front {
  transform: rotateY(-180deg);
}
.team_back {
  background-color: transparent;
  transform: rotateY(-180deg);
  /* padding: 1em 2em; */
}
/* .back p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 35px;
} */
.team_card:hover .team_back {
  transform: rotateY(0deg);
}
.team_card:nth-child(even) .team_back {
  transform: rotateY(180deg);
}
.team_card:nth-child(even):hover .team_back {
  transform: rotateY(0deg);
}

/*==========================End of Our team============================================== */
/*============================Footer Area css===============================================*/
.footer_widget_area {
  background: url(../img/footer-bg.jpg) no-repeat scroll center center;
  background-size: cover;
  padding: 20px 0px 20px 0px;
}

.f_title {
  text-align: center;
  padding-bottom: 10px;
}

.f_title h3 {
  font-size: 16px;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
    padding: 15px;
}

.f_about_widget {
  text-align: center;
  padding-right: 20px;
}

.f_about_widget img {
  padding-bottom: 20px;
}

.f_about_widget p {
  font-size: 15px;
  line-height: 28px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.f_insta_widget ul {
  overflow: hidden;
  margin: -1px;
}

.f_insta_widget ul li {
  width: calc(100% / 4);
  float: left;
}

.f_insta_widget ul li a {
  display: inline-block;
  padding: 1px;
}

.f_insta_widget ul li a img {
  width: 100%;
}

.f_subs_widget .input-group input {
  display: inline-block;
  width: 100%;
  border-radius: 0px;
  border: none;
  height: 40px;
  padding: 0px 40px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input.placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input:-moz-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input::-moz-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group .input-group-btn {
  margin-left: 20px;
  display: block;
  margin-top: -8px;
}

.f_subs_widget .input-group .input-group-btn .submit_btn {
  margin-left: 0px;
  border-radius: 30px !important;
}

.f_subs_widget .input-group .input-group-btn .submit_btn:hover {
  border-color: #8cc4fb;
}

.footer_copyright {
  overflow: hidden;
  background: #11173b;
  padding: 35px 0px;
}

.footer_copyright .float-sm-left h5 {
  font-size: 14px;
  color: #2a2f56;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 29px;
}

.footer_copyright .float-sm-right ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer_copyright .float-sm-right ul li a {
  font-size: 14px;
  color: #2a2f56;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.footer_copyright .float-sm-right ul li:last-child {
  margin-right: 0px;
}

.footer_copyright .float-sm-right ul li:hover a {
  color: #fff;
}

/*===========================End Footer Area css========================================== */
/*===================Button Area css===================================================== */
.more_btn {
  padding: 0px 46px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6fbcfe),
    color-stop(51%, #998dff),
    to(#6fbcfe)
  );
  background-image: -webkit-linear-gradient(
    left,
    #6fbcfe 0%,
    #998dff 51%,
    #6fbcfe 100%
  );
  background-image: -o-linear-gradient(
    left,
    #6fbcfe 0%,
    #998dff 51%,
    #6fbcfe 100%
  );
  background-image: linear-gradient(
    to right,
    #6fbcfe 0%,
    #998dff 51%,
    #6fbcfe 100%
  );
  background-size: 200% auto;
  z-index: 2;
  display: inline-block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 55px;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
}

.more_btn:hover {
  background-position: right center;
  color: #fff;
}

.submit_btn {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#70bafe),
    color-stop(51%, #998dff),
    to(#70bafe)
  );
  background-image: -webkit-linear-gradient(
    left,
    #70bafe 0%,
    #998dff 51%,
    #70bafe 100%
  );
  background-image: -o-linear-gradient(
    left,
    #70bafe 0%,
    #998dff 51%,
    #70bafe 100%
  );
  background-image: linear-gradient(
    to right,
    #70bafe 0%,
    #998dff 51%,
    #70bafe 100%
  );
  background-size: 200% auto;
  z-index: 2;
  width: 110px;
  padding: 0px;
  display: inline-block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 45px;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
}

.submit_btn:hover {
  background-position: right center;
  color: #fff;
}

.submit_btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 6px solid rgba(204, 241, 255, 0.5);
}

.solid_btn {
  padding: 0px 53px;
  background: #6fbcfe;
  z-index: 2;
  display: inline-block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 55px;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
}

.solid_btn:hover {
  background-position: right center;
  color: #fff;
}
/*===============================Button Area=============================================*/
/*===========================End========================================== */
